* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

.body-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-green {
    width: 100%;
    height: 15%;
    position: fixed;
    background-color: SeaGreen;
    top: 0;
}

.window-container {
    height: 90%;
    width: 70%;
    background-color: white;
    z-index: 1;
}

.left-chat, .right-chat {
    float: left;
    height: 100%;
}

.left-chat {
    width: 35%;
}

.right-chat {
    width: 65%;
}

.user-tab {
    height: 50px;
    padding: 5px;
    background-color: Gainsboro;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.user {
    float: left;
    width: 40px;
    height: 40px;
}

img {
    width: 100%;
}

.user-icons {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-icons i {
    padding: 5px;
    color: gray;
}

.bell {
    background: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin-right: 10px;
}

.bell i {
    color: lightblue;
}

.notifications {
    background-color: lightblue;
}

.text {
    padding: 5px;
    float: left;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.text a {
    color: gray;
}

.search {
    padding: 5px;
    height: 35px;
    background-color: GhostWhite;
}

.search-icon {
    float: left;
    color: Gainsboro;
    background-color: white;
    border-radius: 2px;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input {
    float: left;
    height: 100%;
    width: 80%;
    border: 0;
}

.user-chat {
    height: 60px;
    padding: 5px;
    border-bottom: 1px solid GhostWhite;
}

.user-info {
    float: left;
    margin-left: 15px;
    height: 100%;
    max-width: 200px;
}

.user-chat p {
    padding-top: 4px;
    font-family: 'Roboto', sans-serif;
}

.user-chat p:first-of-type {
    font-size: 18px;
}

.user-chat p:last-of-type {
    font-size: 12px;
    color: lightgray;
}

.user-profile {
    height: 100%;
    width: 50px;
    float: left;
}

.user-profile img {
    height: 100%;
}

.chat-info {
    padding-top: 2px;
    float: left;
    margin-left: 10px;
}

.chat-info p {
    font-family: 'Roboto', sans-serif;
}

.chat-info p:last-child {
    color: gray;
    font-size: 12px;
}

.float-right {
    float: right;
}

.chat-container {
    overflow-y: scroll;
    width: 100%;
    height: calc(100% - 100px);
    background-image: url('img/wallpaper.jpg');
    background-size: contain;
    display: inline-flex;
}

.overflow {
    height: calc(100% - 135px);
    overflow-y: scroll;
}

.chat-wrapper {
    width: 80%;
    height: 85%;
    margin: auto;
}

.messaggio-in-arrivo {
    background-color: white;
}

.messaggio-in-uscita {
    background-color: LightGreen;
}

.messaggio-in-arrivo,
.messaggio-in-uscita {
    padding: 12px 7px;
    max-width: 150px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-arrivo-wrapper {
    padding: 5px 0;
    display: flex;
    justify-content: flex-start;
}

.message-uscita-wrapper {
    padding: 5px 0;
    display: flex;
    justify-content: flex-end;
}

.invia-messaggio {
    height: 50px;
    background-color: Gainsboro;
    padding: 10px;
}

.emoticons,
.microphone {
    float: left;
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}

.invia-messaggio input {
    padding: 5px;
    float: left;
    height: 100%;
    width: calc(100% - 160px);
    border: 0;
    border-radius: 2px;
}

.template {
    display: none;
}

@media screen and (max-width: 1200px) {
    .window-container {
        width: 100%;
        height: 100%;
    }
}
